<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1"
	 m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

			<li class="m-menu__item {{#startsWith "/dashboard" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/dashboard" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-th-large"></i>
					<span class="m-menu__link-text">Dashboard</span>
				</a>
			</li>

			<li class="m-menu__item {{#startsWith "/users" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/users" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-text">User</span>
				</a>
			</li>
			{{!-- <li class="m-menu__item  m-menu__item--submenu {{#startsWith "/users" url }}m-menu__item--open m-menu__item--expanded{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bullhorn"></i>
					<span class="m-menu__link-text">User</span>
					<i class="m-menu__ver-arrow fa fa-angle-right"></i>
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item {{#eq "users" surl }}m-menu__item--active{{/eq}}" aria-haspopup="true">
							<a href="/users" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">User</span>
							</a>
						</li>
						<li class="m-menu__item {{#eq "usertransactions" surl }}m-menu__item--active{{/eq}}" aria-haspopup="true">
							<a href="/users/usertransactions" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">Transaction History</span>
							</a>
						</li>
					</ul>
				</div>
			</li> --}}

			<li class="m-menu__item {{#startsWith "/vendors" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/vendors" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-store"></i>
					<span class="m-menu__link-text">Vendor</span>
				</a>
			</li>

			<li class="m-menu__item  m-menu__item--submenu {{#startsWith "/promotions" url }}m-menu__item--open m-menu__item--expanded{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bullhorn"></i>
					<span class="m-menu__link-text">Promotion</span>
					<i class="m-menu__ver-arrow fa fa-angle-right"></i>
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item {{#startsWith "allpromo" surl }}m-menu__item--active{{/startsWith}}" aria-haspopup="true">
							<a href="/promotions/allpromo" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">All Promotion</span>
							</a>
						</li>
						<li class="m-menu__item {{#startsWith "adminpromo" surl }}m-menu__item--active{{/startsWith}}" aria-haspopup="true">
							<a href="/promotions/adminpromo" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">Admin Promotion</span>
							</a>
						</li>
						<li class="m-menu__item {{#startsWith "/promotions/vendorpromo" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true">
							<a href="/promotions/vendorpromo" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">Vendor Promotion</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="m-menu__item  m-menu__item--submenu {{#startsWith "/pushnotifications" url }}m-menu__item--open m-menu__item--expanded{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bell"></i>
					<span class="m-menu__link-text">Push Notification</span>
					<i class="m-menu__ver-arrow fa fa-angle-right"></i>
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item {{#eq "pushnotifications" surl }}m-menu__item--active{{/eq}}" aria-haspopup="true">
							<a href="/pushnotifications" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">History</span>
							</a>
						</li>
						<li class="m-menu__item {{#eq "promotions" surl }}m-menu__item--active{{/eq}}" aria-haspopup="true">
							<a href="/pushnotifications/add" class="m-menu__link ">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
								<span class="m-menu__link-text">Create New</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="m-menu__item {{#startsWith "/chats" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/chats" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-comments"></i>
					<span class="m-menu__link-text">Chat</span>
				</a>
			</li>

			<li class="m-menu__item {{#startsWith "/notifications" url }}m-menu__item--active{{/startsWith}}" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/notifications" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bell"></i>
					<span class="m-menu__link-text">Notifications</span>
				</a>
			</li>

			<li class="m-menu__item" aria-haspopup="true" m-menu-submenu-toggle="hover">
				<a href="/auth/logout" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-sign-out-alt"></i>
					<span class="m-menu__link-text">Logout</span>
				</a>
			</li>
         			
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>