<tr>
    <td class="content-block">
        <h4>Hi {{ fullname }},</h4> 
    </td>
</tr>
<tr>
    <td class="content-block">
        We received a request to reset your password.
    </td>
</tr>
<tr>
    <td class="content-block">
        Please use the below code within 15 minutes to continue processing: <br /><strong>{{rand_otp}}</strong>
    </td>
</tr>
<tr>
    <td class="content-block">
        If you don't want to change your password, you can ignore this email.
    </td>
</tr>
<tr>
    <td class="content-block-lastnop">
        Thanks,<br>
        WeDoCare
    </td>
</tr>