<tr>
    <td class="content-block">
        <h4>Hi {{ fullname }}</h4> 
    </td>
</tr>
<tr>
    <td class="content-block">
        <h4>Reset your WeDoCare Password.</h4> 
    </td>
</tr>
<tr>
    <td class="content-block">
        We have received a request to reset your WeDoCare account password associated with this email address. If you have not placed this request, you can safely ignore this email and we assure you that your account is completely secure.
    </td>
</tr>
<tr>
    <td class="content-block">
        If you do need to change your WeDoCare Password, you can use the link given below. 
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="{{ url }}/auth/passwordreset?token={{ rand_otp }}" class="btn-primary">Reset Your Password</a>
    </td>
</tr>
<tr>
    <td class="content-block-last">
        Please contact {{ contactemail }} for any queries regarding this. 
    </td>
</tr>